Repository ronny1020/channel-state: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(package): add some scripts and sort the file
  examples/core-app/package.json
  examples/react-app/package.json
  examples/svelte-app/package.json
  examples/vue-app/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

ci(labeler): adjust the format
  .github/labeler.yml
Due: none

feat(package): add info for publish
  README.md
  examples/core-app/package.json
  examples/react-app/package.json
  examples/svelte-app/package.json
  examples/vue-app/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  tsup.config.ts
Due: eslint --fix, prettier --write

docs(template): adjust github templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: prettier --write

ci(labeler): add `issues: write`
  .github/workflows/labeler.yml
Due: none

build(version): add a tool to sync all peer deps version
  eslint.config.js
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
  pnpm-lock.yaml
  scripts/tsconfig.json
  scripts/update-peer-deps.ts
Due: eslint --fix, prettier --write

style: only allow log on update-peer-deps tool
  eslint.config.js
  scripts/update-peer-deps.ts
Due: eslint --fix

docs(package): add keyworad and description
  examples/core-app/package.json
  examples/react-app/package.json
  examples/svelte-app/package.json
  examples/vue-app/package.json
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

v0.0.2
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

docs(readme): try to make the readme files looks better
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: prettier --write

docs(readme): add more emoji
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: prettier --write

v0.0.3
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

docs(readme): add install ways and add playground
  README.md
  packages/core/README.md
  packages/react/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: prettier --write

v0.0.4
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

feat(core): set status to ready after excuting `set`
  packages/core/README.md
  packages/core/src/ChannelState.test.ts
  packages/core/src/ChannelState.ts
Due: eslint --fix, prettier --write

docs(github): adjust PR and issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/chore.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
  .github/pull_request_template.md
Due: prettier --write

v0.0.5
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

feat(core): use the Web Locks API for leader election
  packages/core/src/ChannelState.test.ts
  packages/core/src/ChannelState.ts
Due: eslint --fix

refactor: modernize async operations using Promise.withResolvers and async/await syntax
  packages/core/src/ChannelState.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: upgrade typescript to version 5.9.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: upgrade Node.js version to 22 in CI workflow
  .github/workflows/ci.yml
Due: none

V0.1.0
  packages/core/package.json
  packages/react/package.json
  packages/svelte/package.json
  packages/vue/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,css,md,yaml}
